<p>
  Snippet is a short story sharing platform. Many of us enjoy thinking of and creating stories, but writing out a full novel can be a daunting task. Why not get your story across with short snippets instead?
</p>
<p>
  enjoy using Snippet to share your very own stories while reading what other Snippet users have created!
</p>
