<form action='' method="POST">
  Title: <input type="text" id="postTitle" class="add-input" name="postTitle"><br>
  Body: <textarea type="text" id="postBody" class="add-input" name="postBody"></textarea><br>
  <input type="submit" value="submit">
</form>
