<p>Here are some snippets our users have recently uploaded</p>
{{#each posts}}
  <div class="snippet">
    <h2>{{postTitle}}</h2>
    <h3>by: {{username}}</h3>
    <p>{{postBody}}</p>
  </div>
{{/each}}
